@import 'reset';
@import 'normalize';

$desktop_mw: 1610px;


html, body {
    height: 100%;
}

body {
    font-style: 'Source Sans 3', sans-serif;
    font-size: 18px;
    line-height: 1.55;

    color: #ADB3BF;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > main {
        flex: 1 0 100%;
    }
}

.container {
    max-width: $desktop_mw;
    margin: 0 auto;
    padding: 0 10px;
}
